<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .err {
            color: red;
            background-color: blueviolet;
            font-size: 300px;
        }
    </style>
</head>

<body class="err">
    나가!!
</body>

</html>