<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ list.0 }}
    <h1>array 파일 연결확인</h1>
    {{#list}}
    {{.}}
    {{/list}}
  </body>
</html>
