<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>users 파일 연결확인</h1>

    {{#yougood}}
    나는 굳이야
    {{/yougood}}
    {{^yougood}}
    나는 굳이 아니야
    {{/yougood}}

    <hr />
    {{#list}}
    {{ id }}
    {{ username }}
    {{/list}}
  </body>
</html>
